html,body{
  width:100%;
  height:100%;
}
.tdRight{
  text-align: right;
}
.tdLeft{
  text-align: left;
}
.tdCenter{
  text-align: center;
}
*{
  margin:0;
  padding:0;
  list-style: none;
}
/*登陆界面*/
#loginPage{
  width:300px;
  max-height:80%;
  height:350px;
  position: absolute;
  left:50%;
  top:50%;
  margin-left: -150px;
  margin-top:-175px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.3);
  border-radius:5px;
}
.loginTable td{
  padding:6px;
}
#loginPage .tab{
  margin:0 0 60px 0;
  overflow: hidden;
  li{
    color:#ddd;
    float:left;
    border-bottom: 1px solid beige;
    width:150px;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:600;
  }
  .current{
    border-bottom: 2px solid darkorange;
  }
}
.loginTable{
  margin-left: 20px;
}
/*个人主页*/
#personalPageBox{
  background-color:#000;
  width:100%;
  height:100%;
}