html, body {
  width: 100%;
  height: 100%;
}

.tdRight {
  text-align: right;
}

.tdLeft {
  text-align: left;
}

.tdCenter {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*登陆界面*/
#loginPage {
  width: 300px;
  max-height: 80%;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -175px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.loginTable td {
  padding: 6px;
}

#loginPage .tab {
  margin: 0 0 60px 0;
  overflow: hidden;
  li {
    color: #ddd;
    float: left;
    border-bottom: 1px solid beige;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
  }
  .current {
    border-bottom: 2px solid darkorange;
  }
}

.loginTable {
  margin-left: 20px;
}

/*个人主页*/
#personalPageBox {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.logo {
  width: 56px;
  background-image: url("../images/logo.png");
  background-size: cover;
}

/*轮播*/
@screen-sm-min:768px;
@screen-md-min:992px;
@screen-lg-min:1200px;
.positiveRelative{
  position: relative;
}
.mainPictureBox {
  width: 2500px;
  div{
    margin-bottom: 0;
  }
}

.mainPicture {
  width: 100%;
  height: 220px;
  @media (min-width: @screen-sm-min){
    height: 240px;
  }
  @media (min-width: @screen-md-min) {
    height: 300px;
  }
  @media (min-width: @screen-lg-min) {
    height: 350px;
  }
  -webkit-perspective: 1500;
  position: relative;
  overflow: hidden;
  .divShadow{
    width:50px;
    height:50px;
    border-radius:50px;
    position: absolute;
    top:50%;
    margin-top: -25px;
    text-align: center;
    z-index: 1000;
    background-image: url("../images/btn.png");
  }
  .rightScroll{
    right:0;
    background-position: right 120px;
  }
  li {
    height: auto;
    float: left;
    z-index: 100;
    position: absolute;
    width:320px;
    font-size: 12px;
    @media (min-width: @screen-sm-min){
      width: 300px;
    }
    @media (min-width: @screen-md-min) {
      width: 430px;
    }
    @media (min-width: @screen-lg-min) {
      width: 500px;
    }
    span {
      padding: 15px 30px 15px 33px;
      overflow: hidden;
      position: absolute;
      color: #ccc;
      bottom: 0;
      left: 0;
      background-color: rgba(122, 122, 122, 0.3);
      display: none;
      text-align: justify;
    }

  }
  li:first-child {
    left:-12%;
    transform: translate3D(0, 0, -400px) rotateY(30deg);
    z-index: -1;
  }

  li:nth-child(2) {
    //left:29%;
    transform: translate3D(0, 0, 0) rotateY(0deg);
    left:50%;
    right:50%;
    @media (min-width: @screen-sm-min){
      margin-left: -150px;
      margin-right: -150px;
    }
    @media (min-width: @screen-md-min) {
      margin-left: -215px;
      margin-right: -215px;
    }
    @media (min-width: @screen-lg-min) {
      margin-left: -250px;
      margin-right: -250px;
    }
    @media (max-width: @screen-sm-min){
      margin-left: -160px;
      margin-right: -160px;
    }
  }
  li:nth-child(3) {
    right:-12%;
    transform: translate3D(0, 0, -400px) rotateY(-30deg);
    z-index: -1;
  }
  li:nth-child(4) {
    //right:29%;
    transform: translate3D(0, 0, -400px) rotateY(0deg);
    z-index: -10;
    left:50%;
    right:50%;
    @media (min-width: @screen-sm-min){
      margin-left: -150px;
      margin-right: -150px;
    }
    @media (min-width: @screen-md-min) {
      margin-left: -215px;
      margin-right: -215px;
    }
    @media (min-width: @screen-lg-min) {
      margin-left: -250px;
      margin-right: -250px;
    }
    @media (max-width: @screen-sm-min){
      margin-left: -160px;
      margin-right: -160px;
    }
  }
}